extends ../common/layout
block content
  div(class='container')
    div(class='row-fluid show-grid')
      div(class='span12')
         h4 #{notebook.name}
           small &nbsp;&nbsp;(#{user.nick})
         if(!isSelf)
           ul(class='User-muen')
             li
              a(class='gh-btn',href='/user/profile/#{user._id}') #{user.nick} 的主页
         hr 
         if(userDiaryList.length)
           div(class='Diary-wrap')
             each item,i in userDiaryList 
               h5
                 if(item.title)
                   a(href='/diary/#{item._id}') #{item.title} 
                   small [#{notebook.name}] 
                   if(item.privacy == 1)
                     small [仅自己可见] 
                 else
                   a(href='/diary/#{item._id}') #{notebook.name} 
                   if(item.privacy == 1)
                     small [仅自己可见]
                   if(item.weather)
                     small [天气:#{item.weather}] 
                   if(item.mood)
                     small [心情:#{item.mood}] 
                   if(item.location)
                     small [地点:#{item.location}]
               div(class='Diary-content')
                  if(item.img)
                      img(src='#{item.img}')
                  p #{item.content}
               div(class='bar') #{item.created_at} #{item.created_user} #{item.commentcount}回应 
                 if(isSelf)
                   a(class='btn',href='/diary/edit/#{item._id}') 编辑 
                   form(action='/diary/remove',method='post') 
                     input(type='hidden',value='#{item._id}',name='id')
                     button(class='btn btn-danger',type='submit') 删除 
           !{pag}
         else
           p 额，他还什么都木有写……
    include ../common/footer
